<!-- footer -->
<footer id="footer">
    <div class="container">
        <div class="row" id="row-footer">
            <div class="col-6 col-sm-6 col-md-3 footer-elements" id="footer-logo">
                <img src="/images/logo-black.png" alt="logo-reveil">
            </div>
            <div class="col-6 col-sm-6 col-md-3 footer-elements">
                <address>ul. Rusznikarska 14/8L <br>  31-261, Kraków</address>
            </div>
            <div class="col-6 col-sm-6 col-md-3 footer-elements">
                <div>Skontaktuj się z nami <br><i class="fa fa-mobile" aria-hidden="true"></i> +48 514 146 707 </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 footer-elements">
                <div id="social"> 
                    <p>Polub nas</p> 
                    <a href="https://www.facebook.com/PracowniaUrodyReveil/">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>  
                    </a>
                    <a href="https://www.instagram.com/explore/locations/1019335170/pracownia-urody-reveil/">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row" id="paragraph-footer">
            <div class="col-sm-12">
                <p>2018 Réveil Copyright &copy; KarolinaGuzik AleksandraSzwaczka</p>  
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="/bootstrap/bootstrap.min.js"></script>

    </body>
</html>