<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pracownia Urody Réveil</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel= stylesheet href="/stylesheets/style.css">
    <link rel= stylesheet href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,400i&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>

<!-- navigation -->

    <nav class="navbar fixed-top navbar-expand-sm navbar-light" id="navigation">
        <a class="navbar-brand" href="/"><img id="logo-img" src="/images/logo-white.png" alt="logo-reveil"></a>
        <button class="navbar-toggler collapsed" id="button-menu" data-toggle="collapse" data-target="#collapse_target">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>	
        </button>

        <div class="collapse navbar-collapse" id="collapse_target">
            <ul class="navbar-nav ml-auto">
                <li class="navbar-item">
                    <a class="nav-link" href="/oferta">Oferta</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/kosmetyki">Kosmetyki</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/o-reveil">O nas</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="/kontakt">Kontakt</a>
                </li>
            </ul>
        </div>
    </nav>


