<% include partials/header %>

<!-- header -->
<header id="background-img">
    <div id="headers-landing">
        <img src="/images/logo-landing.png" alt="reveil">
    </div>
</header>

<!-- smooth scroll -->

<div id="navigation-button">
    <a href="#separator">
        <img src="/images/separator.png" alt="break">
    </a>
</div>

<hr id="separator">

<!-- section offer  -->

<section>
    <p id="welcome-paragraph">Witamy na stronie Pracowni Urody Réveil</p>

    <div class="background-offer photos">
        <h2 class="headers-on-photo">Oferta</h2>
    </div>

    <p class="landing-text">W ofercie znajdziecie Państwo kompleksową kosmetykę twarzy i ciała, manicure, pedicure, paznokcie żelowe.</p>

    <div class="buttons-container">
        <a href="/oferta">
            <button class="btn-landing">Zobacz ofertę</button>
        </a>
    </div>
</section>

<!-- section cosmetics -->

<section>
    <div id="background-cosmetics" class="photos">
        <h2 class="headers-on-photo">Kosmetyki</h2>
    </div>

    <p class="landing-text">Pracujemy na kosmetykach dokładnie wybranych i wyselekcjonowanych firm, spośród uznanych marek kosmetycznych.</p>
    
    <div class="buttons-container">
        <a href="/kosmetyki">   
            <button class="btn-landing">Nasze kosmetyki</button>
        </a>
    </div>
</section>

<!-- section about -->

<section>
    <div class="background-about photos">
        <h2 class="headers-on-photo">O nas</h2>
    </div>

    <p class="landing-text">W Pracowni Urody Réveil pracują najlepsi specjaliści w swoich dziedzinach, stale się dla Państwa szkolimy i podnosimy swoje kwalifikacje.</p>

    <div class="buttons-container">
        <a href="/o-reveil">
            <button class="btn-landing">Dowiedz się więcej</button>
        </a>
    </div>
</section>


<script src="js/smooth-scroll.polyfills.min.js"></script>
<script src="js/index.js"></script>

<% include partials/footer %>


