<% include partials/header %>

<!-- section contact -->

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Kontakt</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <div id="contact-adress" class="contact-elements">
                    <h3>Adres</h3>
                    <p>ul. Rusznikarska 14/8L</p>
                    <p>31-261, Kraków</p>
                </div>
                <div id="contact-phone" class="contact-elements">
                    <h3>Telefon</h3>
                    <p><i class="fa fa-mobile" aria-hidden="true"></i>+48 514 146 707</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div id="contact-hours" class="contact-elements">
                    <h3>Godziny otwarcia</h3>
                    <p>Poniedziałek - Piątek: 10:00–20:00</p>
                    <p>Sobota: 09:00–14:00</p>  
                </div>
                <div id="contact-like" class="contact-elements">
                    <h3>Polub nas</h3>  
                    <a href="https://www.facebook.com/PracowniaUrodyReveil/">
                        <i class="fa fa-facebook social-icons" aria-hidden="true"></i>  
                    </a>
                    <a href="https://www.instagram.com/explore/locations/1019335170/pracownia-urody-reveil/">
                        <i class="fa fa-instagram social-icons" aria-hidden="true"></i>
                    </a>
                </div>            
            </div>
        </div>
    </div>

<!-- map -->

    <div class="container">
        <div class="row" id="second-row-contact">
            <div id="map" class="col-lg-12 ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2559.976789820516!2d19.923583750803775!3d50.08672142128701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165a51c3e8ebc3%3A0x8a27855e07c9302f!2sRusznikarska+14A%2F8l%2C+Krak%C3%B3w!5e0!3m2!1sen!2spl!4v1526840441030" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>