<% include partials/header %>

<header id="subsection-cosmetics" class="photos subsection-photo"></header>

<!-- section cosmetics -->

<section>
    <div class="container cosmetics">
        <div class="row">
            <div class="col-sm-12">
                <p><span class="bold-text">Pracujemy na kosmetykach dokładnie wybranych i wyselekcjonowanych firm,</span><br> spośród uznanych marek kosmetycznych, biokosmetykach stworzonych w oparciu o najbardziej naturalne i najczystsze substancje roślinne. Wszystkie mają potwierdzoną skuteczność i zapewniają trwałe rezultaty.</p>
            </div>
        </div>
    </div>
        
    <div class="photo-cosmetics">
        <img src="/images/logo-arkana.jpg" alt="arkana">
        <img src="/images/logo-indigo.jpg" alt="indigo">
        <img src="/images/logo-organic.jpg" alt="organic-series">
        <img src="/images/logo-norel.jpg" alt="norel">
        <img src="/images/logo-biomooi.jpg" alt="biomooi">
        <img src="/images/logo-charmine.jpg" alt="charmine-rose">
        <img src="/images/logo-elleebana.jpg" alt="elleebana">
        <img src="/images/logo-lightSheer.jpg" alt="light-sheer">
        <img src="/images/logo-depileve.jpg" alt="depileve">
        <img src="/images/logo-bielenda.jpg" alt="bielenda">
        <img src="/images/logo-farmona.jpg" alt="farmona">
        <img src="/images/logo-natinuel.jpg" alt="natinuel">
        <img src="/images/logo-neonail.jpg" alt="neonail">
        <img src="/images/logo-podopharm.jpg" alt="phodopharm">
        <img src="/images/logo-semilac.jpg" alt="semilac">
        <img src="/images/logo-secretLashes.jpg" alt="secret-lashes">
    </div>
</section>

<hr class="line-separate">

<!-- section cosmetics to sell -->

<section>
    <div class="container cosmetics">
        <div class="row">
            <div class="col-sm-12">
                <p><span class="bold-text">Domowa pielęgnacja skóry jest równie ważna, jak pielęgnacja w gabinecie kosmetycznym.</span><br> W celu przedłużenia efektów zabiegu mogą Państwo zakupić u nas kosmetyki, które dobieramy indywidualnie, w zależności od potrzeb.</p>
            </div>
        </div>
    </div>
        
    <div class="photo-cosmetics">
        <img src="/images/logo-indigo.jpg" alt="indigo">
        <img src="/images/logo-gehwol.jpg" alt="gehwol">
        <img src="/images/logo-arkana.jpg" alt="arkana">
        <img src="/images/logo-bielenda.jpg" alt="bielenda">
        <img src="/images/logo-depileve.jpg" alt="depileve">
        <img src="/images/logo-podopharm.jpg" alt="phodopharm">
    </div>
</section>

<% include partials/footer %>